# Ignorar arquivos temporários de editores de código
.vscode/
.idea/

# Ignorar arquivos de logs
*.log

# Ignorar arquivos gerados pela instalação
*.pyc
__pycache__/

# Ignorar o banco de dados SQLite
agendamentos.db

# Ignorar arquivos do sistema operacional
.DS_Store

# Ignorar pastas e arquivos de dependências
venv/
.env/
